body {
    margin: 0;
	font-size: 1em;
	font-family: "Helvetica Neue",Helvetica,Verdana,Tahoma,Arial,sans-serif;

}
label {
	font-size: 1em;
    font-family: "Helvetica Neue",Helvetica,Verdana,Tahoma,Arial,sans-serif;
}
a {
	font-family: "Helvetica Neue",Helvetica,Verdana,Tahoma,Arial,sans-serif;
	text-decoration: none;
}
input {
	padding: 5px;
}
ul {
    list-style: none;
}
h3 {
    color: #1da1f2;
    font-size: 33px;
    font-weight: 300;
    line-height: 33px;
    padding: 15px 0;
    margin: 0
}

#authform {
	/*width: 180px;*/
}

.authinput {
	width:160px;
}

#authbtn {
    /*width:160px;*/
}

.content-wrapper {
  height: calc(100% - 4em);
  min-width: 100%;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: 4em 0 0 0;
  background-size: 200%;
  background-image: url(http://eskipaper.com/images/blurry-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.content-wrapper_home,
.content-wrapper_users,
.content-wrapper_search {
    background-image: none;
    background-color: white;
}

.form-wrapper {
}

.form {
	padding: 15px;
}

.form_login,
.form_register {
	width: 33%;
	margin: 25px auto;
    background-color: white;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.form-row {
	width: 100%;
	margin-bottom: 10px;
}

.form-row label {
    display: inline-block;
	width: 20%;
}

.form-row input {
    display: inline-block;
}

.input-txt {
	width: 90%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}

.btn-primary {
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-default {
	color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-login,
.btn-register {
    width: 200px;
}

.btn-logout {
    position: absolute;
    top: 15px;
    right: 15px;
    width: auto;
}

.btn-primary.focus, 
.btn-primary:focus,
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.link {
    text-decoration: none;
}

.error {
    color: red;
}

.content {
    padding: 0 4em;
    background-color: #F5F8FA;
}

#profile {
    display: flex;
    /*border:1px solid gold;*/
}
.profile-left {
    /*border:1px solid silver;*/
}
.profile-right {
    /*border:1px solid aqua;*/
}

.profile-left ul {
    padding: 0;
}

.form_addPost .input-txtarea {
    vertical-align: bottom;
}

.post-list,
.table-list {
    padding: 15px;
    border: none;
}

.module {
    background-color: #FFFFFF;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: inherit;
    background-clip: inherit;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    line-height: inherit;
    padding: 10px;
    margin: 5px;
}

.input-txtarea { 
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    box-shadow: none;
    font-size: 14px;
    padding: 8px 10px;
}

.post-list td,
.user-list td {
    border: none;    
}
.post-list tr:nth-child(odd),
.user-list tr:nth-child(odd),
.search-list tr:nth-child(odd) {
    background-color: #E8F5FD;
}

.user-list,
.search-list {
    width: 100%;
}

.user-list tr,
.search-list tr {
    line-height: 2em;
}

.module_following span {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: .02em;
    overflow: hidden;
    text-transform: uppercase;
}

.module_following li {
    color: #0084B4;
}

.module .post-list {
    /*background-color: #E8F5FD;*/
}

.content_users {
    min-height: 500px;
}

.search-input {
    width: 200px;
}


/********** NAVIGATION **********/
.navigation {
  margin-top: 0;
  padding-left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  background: #111;
}

.nav-item {
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}



.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

.nav-trigger + label, .content-wrapper {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .content-wrapper {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}